In [1]:
import pandas as pd

path = "/vepfs/fs_projects/FunMG/LLM/dataset/gsm8k/test-output-8.parquet"
data = pd.read_parquet(path)

data.head()  # 查看前几行数据

,data_source,prompt,ability,reward_model,extra_info,responses
0,openai/gsm8k,[{'content': 'Janet’s ducks lay 16 eggs per da...,math,"{'ground_truth': '18', 'style': 'rule'}",{'answer': 'Janet sells 16 - 3 - 4 = <<16-3-4=...,[Janet's ducks lay 16 eggs per day. She eats t...
1,openai/gsm8k,[{'content': 'A robe takes 2 bolts of blue fib...,math,"{'ground_truth': '3', 'style': 'rule'}",{'answer': 'It takes 2/2=<<2/2=1>>1 bolt of wh...,[Certainly! Let's break down the problem step ...
2,openai/gsm8k,[{'content': 'Josh decides to try flipping a h...,math,"{'ground_truth': '70000', 'style': 'rule'}",{'answer': 'The cost of the house and repairs ...,"[Josh bought the house for $80,000 and put in ..."
3,openai/gsm8k,[{'content': 'James decides to run 3 sprints 3...,math,"{'ground_truth': '540', 'style': 'rule'}",{'answer': 'He sprints 3*3=<<3*3=9>>9 times So...,"[James runs 3 sprints per week, and each sprin..."
4,openai/gsm8k,"[{'content': 'Every day, Wendi feeds each of h...",math,"{'ground_truth': '20', 'style': 'rule'}",{'answer': 'If each chicken eats 3 cups of fee...,[To determine how many cups of feed Wendi need...

In [2]:
data.head()

,question,answer
0,Janet’s ducks lay 16 eggs per day. She eats th...,Janet sells 16 - 3 - 4 = <<16-3-4=9>>9 duck eg...
1,A robe takes 2 bolts of blue fiber and half th...,It takes 2/2=<<2/2=1>>1 bolt of white fiber\nS...
2,Josh decides to try flipping a house. He buys...,The cost of the house and repairs came out to ...
3,James decides to run 3 sprints 3 times a week....,He sprints 3*3=<<3*3=9>>9 times\nSo he runs 9*...
4,"Every day, Wendi feeds each of her chickens th...","If each chicken eats 3 cups of feed per day, t..."

In [6]:
import pandas as pd

path = "/vepfs/fs_projects/FunMG/LLM/dataset/gsm8k/train.parquet"
data = pd.read_parquet(path)

print(data.head())  # 查看前几行数据

    data_source                                             prompt ability  \
0  openai/gsm8k  [{'content': 'Natalia sold clips to 48 of her ...    math
1  openai/gsm8k  [{'content': 'Weng earns $12 an hour for babys...    math
2  openai/gsm8k  [{'content': 'Betty is saving money for a new ...    math
3  openai/gsm8k  [{'content': 'Julie is reading a 120-page book...    math
4  openai/gsm8k  [{'content': 'James writes a 3-page letter to ...    math

                               reward_model  \
0   {'ground_truth': '72', 'style': 'rule'}
1   {'ground_truth': '10', 'style': 'rule'}
2    {'ground_truth': '5', 'style': 'rule'}
3   {'ground_truth': '42', 'style': 'rule'}
4  {'ground_truth': '624', 'style': 'rule'}

                                          extra_info
0  {'answer': 'Natalia sold 48/2 = <<48/2=24>>24 ...
1  {'answer': 'Weng earns 12/60 = $<<12/60=0.2>>0...
2  {'answer': 'In the beginning, Betty has only 1...
3  {'answer': 'Maila read 12 x 2 = <<12*2=24>>24 ...
4  {'answer': 'He writes each friend 3*2=<<3*2=6>...

In [8]:
data.iloc[1, :]['prompt']

array([{'content': 'Weng earns $12 an hour for babysitting. Yesterday, she just did 50 minutes of babysitting. How much did she earn? Let\'s think step by step and output the final answer after "####".', 'role': 'user'}],
      dtype=object)

In [ ]:
data.iloc[1, :]['reward_model']

{'ground_truth': '10', 'style': 'rule'}

In [10]:
import pandas as pd

path = "/vepfs/fs_projects/FunMG/LLM/dataset/countdown/train.parquet"
data = pd.read_parquet(path)

print(data.head())  # 查看前几行数据

   target          nums data_source  \
0      98  [44, 19, 35]   countdown
1      64  [63, 95, 96]   countdown
2      28  [95, 11, 56]   countdown
3      48  [19, 74, 45]   countdown
4      17  [49, 41, 73]   countdown

                                              prompt ability  \
0  [{'content': 'A conversation between User and ...    math
1  [{'content': 'A conversation between User and ...    math
2  [{'content': 'A conversation between User and ...    math
3  [{'content': 'A conversation between User and ...    math
4  [{'content': 'A conversation between User and ...    math

                                        reward_model  \
0  {'ground_truth': {'numbers': [44, 19, 35], 'ta...
1  {'ground_truth': {'numbers': [63, 95, 96], 'ta...
2  {'ground_truth': {'numbers': [95, 11, 56], 'ta...
3  {'ground_truth': {'numbers': [19, 74, 45], 'ta...
4  {'ground_truth': {'numbers': [49, 41, 73], 'ta...

                       extra_info
0  {'index': 0, 'split': 'train'}
1  {'index': 1, 'split': 'train'}
2  {'index': 2, 'split': 'train'}
3  {'index': 3, 'split': 'train'}
4  {'index': 4, 'split': 'train'}

In [11]:
data.head()

,target,nums,data_source,prompt,ability,reward_model,extra_info
0,98,"[44, 19, 35]",countdown,[{'content': 'A conversation between User and ...,math,"{'ground_truth': {'numbers': [44, 19, 35], 'ta...","{'index': 0, 'split': 'train'}"
1,64,"[63, 95, 96]",countdown,[{'content': 'A conversation between User and ...,math,"{'ground_truth': {'numbers': [63, 95, 96], 'ta...","{'index': 1, 'split': 'train'}"
2,28,"[95, 11, 56]",countdown,[{'content': 'A conversation between User and ...,math,"{'ground_truth': {'numbers': [95, 11, 56], 'ta...","{'index': 2, 'split': 'train'}"
3,48,"[19, 74, 45]",countdown,[{'content': 'A conversation between User and ...,math,"{'ground_truth': {'numbers': [19, 74, 45], 'ta...","{'index': 3, 'split': 'train'}"
4,17,"[49, 41, 73]",countdown,[{'content': 'A conversation between User and ...,math,"{'ground_truth': {'numbers': [49, 41, 73], 'ta...","{'index': 4, 'split': 'train'}"

In [16]:
print(data.iloc[1, :]['prompt'][0]['content'])

A conversation between User and Assistant. The user asks a question, and the Assistant solves it. The assistant first thinks about the reasoning process in the mind and then provides the user with the answer.
User: Using the numbers [63, 95, 96], create an equation that equals 64. You can use basic arithmetic operations (+, -, *, /) and each number can only be used once. Show your work in <think> </think> tags. And return the final answer in <answer> </answer> tags, for example <answer> (1 + 2) / 3 </answer>.
Assistant: Let me solve this step by step.
<think>

In [19]:
data.iloc[1, :]['reward_model']

{'ground_truth': {'numbers': array([63, 95, 96]), 'target': 64},
 'style': 'rule'}

In [ ]:
print(data.iloc[1, :]['prompt'][0]['content'])

In [20]:

import pandas as pd

path = "/vepfs/fs_projects/FunMG/LLM/dataset/datasets--Jiayi-Pan--Countdown-Tasks-3to4/snapshots/408f70d177020686d34a56bba5952feb45aaaee4/data/train-00000-of-00001.parquet"
data = pd.read_parquet(path)

data.head()

   target          nums
0      98  [44, 19, 35]
1      64  [63, 95, 96]
2      28  [95, 11, 56]
3      48  [19, 74, 45]
4      17  [49, 41, 73]